.card {
    width: 75px;
    height: 110px;
    background: #f6f6f6;
    border-radius: 10px;
    border: 1px black solid;
    position: relative;
    text-align: center;
    margin: 5px;
    display: inline-block;
}

.card.selected {
    transform: translateY(-15px);
}

.hearts {
    color: red;
}

.diamonds {
    color: red;
}

.clubs {
    color: black;
}

.spades {
    color: black;
}

.suit-top-left {
    position: absolute;
    left: 10px;
    top: 10px;
}

.suit-bottom-right {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.value {
    position: relative;
    top: calc(50% - 20px);
    font-size: 40px;
}

#trick {
    text-align: center;
    min-height: 125px;
}

.player-name {
    padding-right: 10px;
}

.hand-score {
    font-size: 0.75rem;
    padding-left: 0.5rem;
}